input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
   -webkit-appearance: none;
   margin: 5%;
}
input,
textarea,
select {
   outline: none;
   border: none;
   background: none;
   border-bottom: 1px solid #fff;
   border-radius: 0px !important;
}

input:focus,
input:hover {
   border: none;
   margin: 0 auto;
   background: none;
   box-shadow: none;
   border-bottom: 1px solid #ddd;
}
.form-shadow {
   box-shadow: 1px 0 5px 5px rgba(9, 9, 9, 0.45);
}
